// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// COLORS
$color-black: #111;
$color-white: #fff;
$color-white-dark: #f5f5f5;
$color-grey: #ccc;
$color-grey-dark: #666;

$color-yellow: #ffc83f;
$color-pink: #fa5e5b;
$color-blue: #1d508d;
$color-purple: #684e79;