.col1,
.col2,
.col3,
.col4 {
  width: $col-width;
  height: $col-height;
}

//1st card setup (blue)_____________________________________________

.col1:nth-child(1) {
  background-color: $first-yellow-temperature;
}

.col1:nth-child(2) {
  background-color: $second-yellow-temperature;
}

.col1:nth-child(3) {
  background-color: $third-yellow-temperature;
}

//2nd card setup (yellow)______________________________________________

.col2:nth-child(1) {
  background-color: $first-red-temperature;
}

.col2:nth-child(2) {
  background-color: $second-red-temperature;
}

.col2:nth-child(3) {
  background-color: $third-red-temperature;
}

//3rd card setup (green)_______________________________________________

.col3:nth-child(1) {
  background-color: $first-blue-temperature;
}

.col3:nth-child(2) {
  background-color: $second-blue-temperature;
}

.col3:nth-child(3) {
  background-color: $third-blue-temperature;
}

//4th card setup (red)________________________________________________

.col4:nth-child(1) {
  background-color: $first-purple-temperature;
}

.col4:nth-child(2) {
  background-color: $second-purple-temperature;
}

.col4:nth-child(3) {
  background-color: $third-purple-temperature;
}