//yellow color variables___________________________

$first-yellow-temperature: rgba(243, 241, 125, 0.801);
$second-yellow-temperature: rgba(224, 204, 91, 0.849);
$third-yellow-temperature: rgba(218, 207, 59, 0.829);

//red color variables___________________________

$first-red-temperature: rgba(212, 31, 55, 0.89);
$second-red-temperature: rgba(145, 11, 51, 0.89);
$third-red-temperature: rgba(105, 7, 24, 0.89);

//blue color variables___________________________

$first-blue-temperature: rgba(22, 125, 209, 0.918);
$second-blue-temperature: rgba(12, 47, 161, 0.918);
$third-blue-temperature: rgba(2, 24, 85, 0.918);

//purple color variables___________________________

$first-purple-temperature: rgba(143, 17, 192, 0.938);
$second-purple-temperature: rgba(177, 22, 177, 0.938);
$third-purple-temperature: rgba(94, 6, 134, 0.938);

// general setup for the background and sizes and positions of the four cards
$back-color: rgb(108, 133, 153);
$field-width-and-hight: 8rem;
$font: 1.2rem;
$border: 1px solid rgb(82, 8, 8);
$col-width: 33.3%;
$col-height: 100%;