@each $name,
$color in $colors {
  .color-#{$name} {
    background-color: $color;
  }
}

.palette__color {
  width: 100%;
  height: 100px;
}

.palette {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.palette__box {
  display: inline-block;
  border: lightgray solid 3px;
  box-shadow: 5px 5px 5px lightgrey;
  margin: 10px;
}