@each $name,
$color in $colors {
  .color-#{$name} {
    background-color: $color;
  }
}

.palette__color {
  width: 150px;
  height: 100px;
}

.palette {
  width: 100%;
}

.palette__box {
  display: inline-block;
  border-color: black solid;
  border-radius: 3px;

}