@import './resets';
@import './variables';


// function
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name); // eight-name is the key
}


body {
  background: $primary-color;
  color: $text-color;


}

.main {
  display: flex;
  justify-content: center;
  widows: 80%;
  margin: 0 auto;

  // using interpolation wrapping with curly braces
  #{&}__paragraph {
    font-weight: weight(regular);

    &:hover {
      color: pink;
    }
  }
}